# all folders starting with _ are local
_build/
.DS_Store
**/.vscode/ipch

# C++
**/cmake-build*/
**/build*/
**/*.so

# Python
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

/.vs

/app

# Outputs
**/output/*
*.tmp
**/runs/*
**/logs/*
**/*.dmp
**/.thumbs

# IDE
**/.idea/
**/.vscode/.**

# Isaac-Sim packman
_isaac_sim
_repo
_build
.lastformat

# ROS 2
build/
install/
log/

# ignore specific file
extensions/pegasus.simulator/pegasus/simulator/assets/Robots/Passenger_vtol/passenger_vtol_com_scaled.usd
extensions/pegasus.simulator/pegasus/simulator/assets/Robots/Passenger_vtol/passenger_vtol_com.usd
extensions/pegasus.simulator/pegasus/simulator/assets/Robots/Passenger_vtol/passenger_vtol.usd
